.boardItem {
    display: flex;
    flex-wrap:wrap;
    width: 100%; /* 화면의 2/3 너비에서 공백을 제외한 크기 */
    margin: 10px auto; /* 가운데 정렬과 위아래 마진 */
    padding: 16px 0;
    border: 0.5px solid rgba(241, 241, 243, 0.3);
    border-radius: 30px;
    background-color: rgba(136, 142, 84, 0.95);
    transform: translateY(-100%);
    animation: slideDown 0.5s forwards;
    cursor: pointer;
}

.boardItem:last-child {
    margin-bottom: 0; /* 마지막 아이템에 대한 마진 제거 */
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0); /* 초기 그림자 설정 */
    }
    100% {
        transform: translateY(0);
        box-shadow: 
            -10px 0 20px -10px rgba(0, 0, 0, 0.5), /* 왼쪽 그림자 */
            10px 0 20px -10px rgba(0, 0, 0, 0.5); /* 오른쪽 그림자 */
    }
}

.boardItem .date {
    align-self: flex-end;
    font-size: 12px;
    line-height: 17px;
    margin-left: 60px;
    color: rgb(80, 80, 80);
    letter-spacing: -0.02em;
    padding: 0 20px;
}

.boardItem .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    justify-content: center;
    color: #ffffff;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    padding: 0 20px;
}

.boardItem .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(176, 176, 176, 0.5);
}

.boardItem .info h3,
.boardItem .info b {
    font-size: 15px;
    font-weight: 200;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);
}

.boardItem .writerInfo {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
    padding: 0 20px;
}

.boardItem .img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.boardItem .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boardItem .writer {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: rgb(242, 255, 142);
}

/* 미디어 쿼리 추가 */
@media (max-width: 1200px) {
    .boardItem {
        width: calc(90% - 20px); /* 작은 화면에서도 공백을 줄인다 */
    }
}

@media (max-width: 768px) {
    .boardItem {
        width: calc(100% - 20px); /* 더 작은 화면에서는 공백을 더 줄인다 */
    }
}

@media (max-width: 480px) {
    .boardItem {
        width: calc(100% - 10px); /* 가장 작은 화면에서는 거의 전체 너비 사용 */
        margin: 5px auto; /* 세로 방향 공백을 최소화 */
    }
}
