@import url('../../component/dialog/dialog.css');

@font-face {
    font-family: "Ssukssuk";
    src: url("../../public/fonts/Cafe24Ssukssuk-v2.0.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Ssurround";
    src: url("../../public/fonts/Cafe24Ssurround-v2.0.ttf") format("truetype");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ssukssuk';
}

body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #232323;
}

.wrap {
    width: 50%;
    margin: 0 auto; /* 가운데 정렬 */
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center-top;
    background-color: rgba(169, 179, 136, 0.95);
    border-radius: 30px;
    opacity: 100%;
    transform: translateY(-100%);
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
    }
    100% {
        transform: translateY(0);
        box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.5), 10px 0 20px -10px rgba(0, 0, 0, 0.5);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('/public/background/wood-final.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Ssukssuk-regular {
    font-family: "Ssukssuk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 미디어 쿼리 추가 */
@media (max-width: 1200px) {
    body {
        margin: 0 20px;
    }
    .wrap {
        width: 80%;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0 10px;
    }
    .wrap {
        width: 40%;
        padding-top: 10px;
    }
}

@media (max-width: 480px) {
    .wrap {
        width: 20%;
        padding-top: 10px;
    }
}
